{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
		<h2>Question Number: {{ questionNumber }}</h2>
		<p>
			{{questions[0]['question']}}		
		</p>
		<form id="questionForm" action="" method="POST">
			<ul>
				{% for key, potentialAnswer in questions[0]['potentialAnswers'] %}
					<li>
						<input type='radio' name='question' value={{key}} id={{key}} required>
						<label for={{key}}>{{ potentialAnswer }}</label>
						
					</li>
				{% endfor %}
				{#{% for key, question in questions['potentialAnswers'] %} 
					<li>
						<input type='radio' name='question' value={{key}} id={{key}} required>
						<label for={{key}}>{{ value }}</label>
					</li>
				{% endfor %}#}
			</ul>
			<input type="hidden" id="questionNumber" name="questionNumber" value=0{#<?php echo $_POST['questionNumber']; ?>#}>
			<button type="button" id="checkAnswerBtn">Check Answer</button>
			<input type='submit' name='nextQuestionBtn' id='nextQuestionBtn' value='Next Question'/>
		</form>
		<div id="result">
			<p id="incorrectAnswer" class="incorrect">Incorrect</p>
			<p id="correctAnswer" class="correct">Correct</p>
			<p></p>
			<p id="answerText"></p>
		</div>
</div>
<script type="text/javascript" src="../main.js"></script>
{% endblock %}
