{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
		<h2>Question Number: <?php echo ($currentQuestionNumber + 1)?></h2>
		<p>
			<?php echo  $tempQuestionArr[$currentQuestionNumber]['question']?>		
		</p>
		<form id="questionForm" action="" method="POST">
			<ul>
			{#<?php foreach ($questions[$currentQuestionNumber]['potentialAnswers'] as $key => $value) { ?>#}
				{% for key, question in questions %}
					<li>
						{{var_dump(question);}}
					</li>
				{% endfor %}
				{#{% for key, question in questions['potentialAnswers'] %} 
					<li>
						<input type='radio' name='question' value={{key}} id={{key}} required>
						<label for={{key}}>{{ value }}</label>
					</li>
				{% endfor %}#}
			</ul>
			<input type="hidden" id="questionNumber" name="questionNumber" value=<?php echo $_POST['questionNumber']; ?>>
			<button type="button" id="checkAnswerBtn">Check Answer</button>
			<input type='submit' name='nextQuestionBtn' id='nextQuestionBtn' value='Next Question'/>
		</form>
		<div id="result">
			<p id="incorrectAnswer" class="incorrect">Incorrect</p>
			<p id="correctAnswer" class="correct">Correct</p>
			<p></p>
			<p id="answerText"></p>
		</div>
</div>
<script type="text/javascript" src="../main.js"></script>
{% endblock %}
